@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgb(218, 26, 53);
    font-family: "Montserrat";
    color:rgb(247, 241, 241);
}

h1{
    font-family: "Montez";
    font-size: 64px;
    text-align: left;
}

h5{
    color:black

}


nav{
    font-family: 'Courier New', 'Courier', 'monospace';
    background: rgb(218, 26, 53);
    text-align: center;
    
}
li{
    display: inline-block;
    padding: 20px;
    
    
}
a{
    color:rgb(255, 255, 255)
}

li > a:hover{
    background-color: rgb(0, 0, 0);
}

.Foods:nth-child(even){

    flex-direction: row-reverse;
}

img{
    max-width: 250px;
    max-height: 600px;
}

button[type="submit"]:hover{
    background-color: red;
}

button[type="submit"]{
    background-color: white;
}

button[type="reset"]:hover{
    background-color: red;
}

button[type="reset"]{
    background-color: white;
}

@media screen and (max-width: 600px){
    nav{
        flex-direction: column;
    }

    .project img{
        width: 100%
    }

    #inputs{
      size: 50px;  
    }

}

