@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgb(254, 254, 254);
    font-family: "Montserrat";
    color:red;
}

h1{
    font-family: "Montez";
    font-size: 64px;
    text-align: left;
}

h5{
    color:black
}

div{
    text-align: center;
}
nav{
    font-family: 'Courier New', Courier, monospace;
    background: rgb(255, 255, 255)
}
li{
    display: inline-block;
    padding: 20px;
    
    
}
a{
    color:rgb(0, 0, 0)
}

li > a:hover{
    background-color: red;
}

.Foods:nth-child(even){

    flex-direction: row-reverse;
}

img{
    max-width: 250px;
    max-height: 600px;
}

